html, body {
  height: 100%;
}

body {
  background: #fff;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

a {
  color: #ff0095;
  text-decoration: none;
}

a code {
  color: #ff0095 !important;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: "Raleway", serif;
}

h1, h2, h3, h4 {
  color: #454545;
}

h1 a, h1 a:hover,
h2 a, h2 a:hover,
h3 a, h3 a:hover,
h4 a, h4 a:hover {
  color: #454545;
  text-decoration: none;
}

h2, h3, h4 {
  margin-top: 1em;
  padding-top: 1em;
}

pre {
  white-space: pre;
}

p {
  line-height: 1.7em;
  color: #454545;
}

strong {
  color: #333;
}

img {
  max-width: 100%;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  padding-top: 2em;
}

header .profile-pic {
  width: 150px;
  height: 150px;
  box-shadow: rgba(0,0,0,0.3) 0px 2px 2px;
}

header .bio {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.75em;
  line-height: 2em;
}

header .langs {
  font-size: .75em;
  align-self: flex-start;
  margin-left: auto;
}

.container {
  max-width: 44em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* POST - SHARED */

.post-summary blockquote, .post blockquote {
  margin: 1em 3em;
  color: #999;
  border-left: 2px solid #999;
  padding-left: 1em;
}

/* POST - SHARED */
.post-details {
  font-size: 0.75em;
  line-height: 1.5em;
  color: gray;
}

/* POST - LIST */

.post-summary h2 {
  margin-bottom: 0;
}

.post-summary .post-details {
  margin-top: .3em;
}

/* POST - SINGLE */

.post h1 {
  width: 80%;
  margin-bottom: 0;
  text-align: left;
  font-size: 2em;
}

.post .post-details {
  float: right;
  text-align: right;
  font-size: 0.75em;
  line-height: 1.5em;
  color: gray;
}

.post pre {
  font-size: .8em;
}

.post .tags {
  font-size: 0.8em;
  margin-bottom: 2em;
}

/* POST - BY TAG */

.post-list-by-tag {
  list-style: none;
}

.post-list-by-tag time {
  margin-right: 5px;
  color: gray;
  font-style: italic;
  font-size: 0.75em;
  line-height: 2em;
}

.post-list-by-tag__language {
  font-size: .7em;
}